.mytable th {
    margin: 0 auto !important;
    text-align: center !important;
    padding: 1rem !important;
    vertical-align: inherit !important;
}

.mytable {
    & img {
        max-height: 150px;
        max-width: 150px;
    }
}
